body{
  background-color:red;
}
.container{
  background-color:blue;
  height:500px;
  border: 5px solid black;
  margin:50px;
  box-sizing:border-box;
}
/* .child{
  background-color:green;
  margin:50px;
  height:30px;
  width:50px;
  padding:100px;
  border-radius:50%;
} */

/* div p {
  background-color:orange;
} */
/* 
#child1{
  background-color:orange;
}
.myclass{
  background-color:violet;
} */

.child1,.child2,.child3,.child4,.child5,.child6,.child7,.child8{
  height:250px;
  width:250px;
  display:inline-block;
  margin:8px;
  flex-wrap:flex;
}
.child1{
  background-color:orange;
}
.child2{
  background-color:aqua;
}
.child3{
  background-color:violet;
}
.child4{
  background-color:green;
}
.child5{
  background-color:orange;
}
.child6{
  background-color:aqua;
}
.child7{
  background-color:violet;
}
.child8{
  background-color:green;
}